<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to("ABlogger", root_path, class: "navbar-brand") %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <%= link_to("About", about_pages_path) %>
                </li>
                <li>
                    <%= link_to("Services", services_pages_path) %>
                </li>
                <li>
                    <%= link_to("Contact", contact_pages_path) %>
                </li>
            </ul>

            <div class="navbar-form navbar-right">
            <% if user_signed_in? %>
            <%= link_to("New Post", new_post_path, class: 'btn btn-primary') %>
            <%= link_to("Log out", destroy_user_session_path, method: :delete) %>
            <% else %>
            <%= link_to("Log in", new_user_session_path, class: 'btn btn-success') %>
            <% end %>
            </div>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
