<!DOCTYPE html>
<html>
<head>
  <title>ABlogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%=render 'common/navbar' %>
<div class="container">
  <%= notice_message %>
  <div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-lg-8">
      <%= yield %>
    </div>
    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">
      <%= render 'common/sidebar' %>
    </div>

  </div>

</div>
<%= render 'common/footer' %>

</body>
</html>
